<ng-container *ngIf="!course">
  <div>no container</div>
</ng-container>
<div *ngIf="course" class="course-card"
     [ngClass] = "setClasses()"
>
<!--  [ngClass] ="{'beginner': course.category === 'BEGINNER'}"-->
<!--  [ngClass] = "'beginner'"-->

  <div class="course-title"
       [style.text-decoration]="'underline'"
       [ngStyle]="{'text-decoration': 'underline'}"
  >
    {{courseIndex +' '+course.description}}
  </div>
  <img *ngIf="isImageVisible(); else noImage"
       width="300"
       alt="Angular Logo"
       [src]="course.iconUrl">

  <ng-template #noImage> no image</ng-template>

  <div class="course-description">
    A detailed walk-through of the most important part of Angular - the Core and Common modules.
  </div>

  <div class="course-category" [ngSwitch] = "course.category">
    <div class="category" *ngSwitchCase="'BEGINNER'">beginner</div>

    <div class="category" *ngSwitchCase="'INTERMEDIATE'">Intermediate</div>

    <div class="category" *ngSwitchCase="'ADVANCED'">Advanced</div>

  </div>

  <button (click)="onCourseViewed()">View course</button>

</div>
