<div class="top-menu">
    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>


<div class="demo">
  <div> Start Date: {{ startDate | date: "MMM/dd/yyyy" }}</div>

  <div> {{course1.description | titlecase}}</div>
  <div> {{course1.description | uppercase}}</div>
  <div> {{course1.lessonsCount | currency: 'GBP'}}</div>
  <div> {{0.67 | percent}}</div>
</div>

<div class="courses">
  <course-card *ngFor="let course of courses;
  index as i;
  first as isFirst;
  last as islast;
  even as isEven;
  odd as isOdd;
"
                   (courseSelected)="onCourseSelected($event)"
                   [course]="course"
                   [courseIndex]="i+1"
                   [class.is-last]="islast"
                   [class.is-first]="isFirst">
<!--                   [class.is-even]="isEven"-->
<!--                   [class.is-odd]="isOdd"-->
  </course-card>
</div>


