<div class="cpurse-card" *ngIf="course" #container>
  <div class="course-title">
    {{ cardIndex || '' + ' ' + course.description}}
  </div>

  <ng-template #blankImage>
    <div class="warn">{{course.description}} has no image yet.</div>

    <img src="/asset/empty-image.png" alt="">
  </ng-template>

  <ng-content select="course-image" *ngIf="course.iconUrl; else blankImage"></ng-content>

  <div class="course-category" [ngSwitch] = "course.category">
    <div class="category" *ngSwitchCase="'BEGINNER'">beginner</div>

    <div class="category" *ngSwitchCase="'INTERMEDIATE'">Intermediate</div>

    <div class="category" *ngSwitchCase="'ADVANCED'">Advanced</div>

  </div>

  <button (click)="onCourseViewed()">View course</button>

</div>






